.AppHeader {
  background-color: steelblue;
  color: white;
  display: grid;
}

.AppHeader h1 {
  margin: 10px;
}

.LogoAndName {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-self: self-start;
}

@media all and (max-width: 600px) {
    /**
    * Small width items
    */
}