.AppHeader {
  background-color: steelblue;
  color: white;
}

.AppHeader h1 {
  margin: 10px;
}

.LogoAndName {
  display: flex;
}

@media all and (max-width: 600px) {
  /**
    * Small width items
    */
}