.AppHeader {
  background-color: beige;
  color: black;
}

.AppHeader h1 {
  margin: 10px;
  cursor: pointer;
}

.LogoAndName {
  display: flex;
}

@media all and (max-width: 600px) {
  /**
    * Small width items
    */
}